atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-MySQLdb==0.2.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.25
mysqlclient==2.0.3
packaging==20.9
pluggy==0.13.1
protobuf==3.17.2
py==1.10.0
pycodestyle==2.7.0
pyparsing==2.4.7
pytest==6.2.4
six==1.16.0
toml==0.10.2
Werkzeug==2.0.1
