
{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" 
                    role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" 
                        data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="card card-body">
            <form action="/agregar_sesion" method="POST">
                <div class="form-group">
                    <label for="fecha_sesion">Fecha sesion:</label>
                    <input type="date" name="fecha_sesion" 
                    placeholder="fecha sesion"
                    required
                    class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="hora_inicio_sesion">Hora incio sesion:</label>
                    <input type="time" name="hora_inicio_sesion" 
                    placeholder="sesion hora inicio" 
                    required
                    class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="hora_fin_sesion">Hora fin sesion:</label>
                    <input type="time" name="hora_fin_sesion" 
                    placeholder="sesion hora fin"
                    required 
                    class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="espacio_id">Espacio academico:</label>
                    <select class="form-control" name="espacio_id" required>
                        {% for espacio in espacios %}
                            <option value="{{ espacio.id_espacio }}">{{ espacio.nombre_espacio }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm" id="tabla_sesiones">
            <thead>
                <tr>
                    <td>Fecha sesion</td>
                    <td>Hora inicio sesion</td>
                    <td>Hora fin sesion</td>
                    <td>Espacio Academico</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for sesion in sesiones %}
                <tr>
                    <td>{{sesion.fecha_sesion}}</td>
                    <td>{{sesion.hora_inicio_sesion}}</td>
                    <td>{{sesion.hora_fin_sesion}}</td>
                    {% for espacio in espacios %}
                        {% if espacio.id_espacio == sesion.espacio_id %}
                            <td>{{espacio.nombre_espacio}}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="/obtener_sesion/{{ sesion.id_sesion }}" 
                        class="btn btn-warning">
                            Editar
                        </a>
                        <a href="/eliminar_sesion/{{ sesion.id_sesion }}" 
                        class="btn btn-danger btn-delete">
                            Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm pager" id="paginador3">
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
